.header {
    padding: 1.6rem 16%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__togglebtn {
        display: block;
        width: 3rem;
        background: transparent;
        border: 1px solid $color-black;
        border-radius: 3px;
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0.8rem;

        &:focus {
            outline: none;
        }

        &--bar {
            width: 100%;
            height: 0.192rem;
            background: $color-black;
            display: block;
            margin: 0.5rem 0;
        }


        @include respond(tab-land) {
            display: none;
        }
    }

    &__logo {
        width: 6rem;

        img {
            width: 100%;
        }
    }

    &__nav {
        display: none;

        &--items {
            @include respond(tab-land) {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
            }
        }

        &--item {
            @include respond(tab-land) {
                margin: 0 1.6rem;
            }

            a {
                @include respond(tab-land) {
                    text-decoration: none;
                    color: $color-grey-dark1;
                    font-size: 1.1rem;
                }
                
                &:hover,
                &:active {
                    @include respond(tab-land) {
                        color: $color-grey-dark3;
                    }
                }
            }

        }

        @include respond(tab-land) {
            display: block;
        }
    }

    @include respond(tab-land) {
        background: linear-gradient(105deg, $color-grey-light1 0%, $color-grey-light1 65%, transparent 50%);
        justify-content: space-between;
        height: 12vh;
    }
}

.mobile-nav {
    transform: translateX(100%);
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background: $color-white;
    width: 80%;
    height: 100vh;
    transition: transform 300ms ease-out;

    &__items {
        width: 90%;
        height: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 1.6rem 0;
    }

    &__item a {
        font-size: 2.4rem;
    }
}