*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    // This defines what 1 rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-port) {
        font-size: 75%; //1 rem = 12px, 12/16 = 75%
    }

    @include respond(tab-land) {
        font-size: 87.5%; //1 rem = 14px, 14/16 = 87.5%
    }  

    @include respond(big-desktop) {
        font-size: 100%; //1 rem = 16px, 16/16 = 100%
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "IRANYekan";
    box-sizing: border-box;
}

.responsive {
    width: 100%;
    height: auto;
}