@font-face {
    font-family: "IRANYekan";
    src: url("../assets/fonts/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url("../assets/fonts/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANYekan-Extra-Bold";
    src: url("../assets/fonts/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
    font-family: "IRANYekan-FD";
    src: url("../assets/fonts/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
    font-family: "IRANYekan-Bold-FD";
    src: url("../assets/fonts/iranyekanwebboldfanum.ttf") format("truetype");
}